{% extends 'base.html' %}

{% block content %}

{% comment %} 

{% endcomment %}

<h1>Posts</h1>

<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <!-- <div class="col-md-8 mt-3 "> -->
            {% for blogpost in blogpost_list %}

            <div class="card border-primary mb-3" style="width: 20rem;">
            {% comment %} <div class="card mb-4"> {% endcomment %}
                <div class="card-body">
                    <h5 class="card-title">{{ blogpost.title }}</h5>
                    <p class="card-text text-muted h6">{{ blogpost.author }} | {{ blogpost.created_on}} </p>
                    <p class="card-text">{{blogpost.content|slice:":200" }}</p>
                    <a href="{% url 'blog_detail' blogpost.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        <!-- </div> -->
        
    </div>
</div>
{% endblock content %}
 