<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
{% comment %} {% comment %} <body> {% endcomment %}
	<header class="page-header header container-fluid">
		<div class="overlay"></div>
		<div class="description">
			<h1>Welcome to the Landing Page!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.</p>
			<button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
		</div>
	</header>



<h1>Blog</h1>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <!-- <div class="col-md-8 mt-3 "> -->
            {% for blogpost in blogpost_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ blogpost.title }}</h2>
                    <p class="card-text text-muted h6">{{ blogpost.author }} | {{ blogpost.created_on}} </p>
                    <p class="card-text">{{blogpost.content|slice:":200" }}</p>
                    <a href="{% url 'blog_detail' blogpost.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        <!-- </div> -->
        
    </div>
</div>

 

</body>
</div> 
 

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

{% comment %} 
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
<h1>Home.html title text</h1>
        <a href="https://github.com/Brimbles" class="btn btn-primary">View github &rarr;</a>
        <!-- <p class="text-light">We Love Django As much as you do..! &nbsp
        </p> -->

    </div>
</header>  {% endcomment %}


{% endblock content %}
