{% extends 'base.html' %}
{% load static %} 

{% block content %}


<!-- <h6>TEEEEEEEEESSSSSSSST</h6>
<h5>TEEEEEEEEESSSSSSSST</h5> -->

<body>

    <div class="container">
        <!--vertical align on parent using my-auto, horizontal align on self mx-auto-->
        <div class="row h-100">
            <div class="col-sm-8 my-auto">
                <p>Hi, I’m Ben.</p>
                <p>I enjoy making things.</p>
                <p>I post here sometimes </p>

            </div>
            <div class="col-sm-4 my-auto">
                {% comment %} <h3>Latest posts</h3> {% endcomment %}
                {% for blogpost in blogpost_list %}
                         <div class="card-block">
                        <!-- <p class="card-title">{{ blogpost.title }}</p>  -->
                         <!-- <h6><a href="{% url 'blog_detail' blogpost.slug  %}">Read More &rarr;</a></h6>  -->
                        
                    </div> 

                    <div class="card">
                    <p class="card-title">{{ blogpost.title }}</p>
                        <div class="card-body">
                            <h6><a href="{% url 'blog_detail' blogpost.slug  %}">Read More &rarr;</a></h6>
                        </div>
                    </div>


                {% endfor %}
                
            </div>
        </div>
            <div class="row">
            <div class="col">
            <!-- here's where a picture will live -->
            
            </div>
        </div>
    </div>


</body>
{% comment %} 
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Add Social buttons here. Maybe persist this across all pages in the site </span>
      </div>
    </footer>
     {% endcomment %}
{% endblock content %}
