<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<body>
	<header class="page-header header container-fluid">
		<div class="overlay"></div>
		<div class="description">
			<h1>Welcome to the Landing Page!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.</p>
			{% comment %} <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button> {% endcomment %}
		</div>
	</header>



</body>

{% comment %} <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
<h1>Home.html title text</h1>
        <a href="https://github.com/Brimbles" class="btn btn-primary">View github &rarr;</a>
        <!-- <p class="text-light">We Love Django As much as you do..! &nbsp
        </p> -->

    </div>
</header> {% endcomment %}


{% endblock content %}
