
{% extends 'base.html' %}



{% load static %}

{% comment %} ************ Custom CSS for this page *************** {% endcomment %}
{% block styles %}
    <link href="{% static 'css/album.css' %}" rel="stylesheet"> 
{% endblock styles %} 



{% block content %}
    
<!-- 
<h6>TEEEEEEEEESSSSSSSST</h6>
<h5>TEEEEEEEEESSSSSSSST</h5> -->

<body>

<!-- <h1>Projects</h1> -->
<div class="row">
{% for project in project_list%}
    <div class="col-md-3">
        <div class="card mb-2">
            <img class="card-img-top" 
            {% if project.image0 %} check that an image exists before trying to use it
            src="{{project.image0.url}}"
            {% endif %}
            >
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|truncatewords:10 }}</p>
                <!-- <a href="{% url 'project_detail' project.pk %}" -->
                <a href="{% url 'project_detail' project.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    <!-- class="btn btn-primary"> -->
                    <!-- Read More -->
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}
